<% if (page.photos && page.photos.length) { %>
  <%- css(theme.gallery.fancybox_css) %>
  <article class="mdui-row-xs-2 mdui-row-sm-3 mdui-row-md-4 mdui-row-lg-5 mdui-row-xl-6 mdui-grid-list">
    <% page.photos.forEach(function (photo) { %>
      <div class="mdui-col">
        <div class="mdui-grid-tile mdui-hoverable">
          <a data-fancybox="gallery" href="<%- url_for(photo) %>">
            <img src="/images/grey.png" class="lazyload" data-original="<%- url_for(photo) %>" style="height: 160px; border-radius: 2px;">
          </a>
        </div>
      </div>
    <% }); %>
  </article>
  <%- js([theme.gallery.jquery_js, theme.gallery.lazyload_js, theme.gallery.fancybox_js]) %>
  <script>$("#main article img.lazyload").lazyload({effect:"fadeIn"});</script>
<% } else if (page.tagcloud && site.tags.length) { %>
  <style>
    #tagcloud a{margin:0 8px;padding:8px 0;line-height:40px;white-space:nowrap;text-decoration:none;opacity:.87;-webkit-transition:all .2s cubic-bezier(.4,0,.2,1);-o-transition:all .2s cubic-bezier(.4,0,.2,1);transition:all .2s cubic-bezier(.4,0,.2,1)}
    #tagcloud a:hover{opacity:1;text-shadow:1px 1px 3px #444}
  </style>
  <article id="tagcloud" class="mdui-text-center">
    <%- tagcloud({min_font: 16, max_font: 35, amount: 9999, color: true, start_color: '#3f51b5', end_color: '#ff4081'}) %>
  </article>
<% } else { %>
  <%- css(theme.gallery.fancybox_css) %>
  <style>#main article .mdui-card-content .center-block{display:block!important;margin-right:auto!important;margin-left:auto!important}</style>
  <article class="mdui-card mdui-m-b-5">
    <header class="mdui-card-media">
      <img src="<%- page.thumbnail || '/images/random/material-' + (Math.round(Math.random() * 18) + 1) + '.png' %>" style="max-height: 240px;">
      <div class="mdui-card-media-covered">
        <div class="mdui-card-primary">
          <div class="mdui-card-primary-title"><%= page.title %></div>
          <div class="mdui-card-primary-subtitle"><i class="iconfont">&#xe697;</i> <%- date(page.date) %> / <i class="iconfont">&#xe601;</i> <%= page.author || config.author %><% if (theme.busuanzi.page) { %> &nbsp;&nbsp; <span id="busuanzi_container_page_pv" style="display: none;"><i class="iconfont">&#xe7fd;</i> <span id="busuanzi_value_page_pv"></span></span><% } %></div>
        </div>
      </div>
      <div class="mdui-card-menu">
        <% if (page.share_menu !== false) { %>
          <button class="mdui-btn mdui-btn-icon mdui-text-color-white" mdui-menu="{target: '#share_menu', align: 'right'}"><i class="mdui-icon material-icons">share</i></button>
          <ul class="mdui-menu" id="share_menu">
            <li class="mdui-menu-item">
              <a href="http://service.weibo.com/share/share.php?appkey=&title=<%= page.title %>&url=<%- page.permalink %>&pic=<%- config.url + url_for(theme.favicon) %>&searchPic=false&style=simple" target="_blank" class="mdui-ripple"><%= __('share.weibo') %></a>
            </li>
            <li class="mdui-menu-item">
              <a href="https://twitter.com/intent/tweet?text=<%= page.title %>&url=<%- page.permalink %>&via=<%= config.author %>" target="_blank" class="mdui-ripple"><%= __('share.twitter') %></a>
            </li>
            <li class="mdui-menu-item">
              <a href="https://www.facebook.com/sharer/sharer.php?u=<%- page.permalink %>" target="_blank" class="mdui-ripple"><%= __('share.facebook') %></a>
            </li>
            <li class="mdui-menu-item">
              <a href="https://plus.google.com/share?url=<%- page.permalink %>" target="_blank" class="mdui-ripple"><%= __('share.google_plus') %></a>
            </li>
            <li class="mdui-menu-item">
              <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%- page.permalink %>&title=<%= page.title %>" target="_blank" class="mdui-ripple"><%= __('share.linkedin') %></a>
            </li>
            <li class="mdui-menu-item">
              <a href="http://connect.qq.com/widget/shareqq/index.html?site=<%= config.title %>&title=<%= page.title %>&summary=<%= config.description %>&pics=<%- config.url + url_for(theme.favicon) %>&url=<%- page.permalink %>" target="_blank" class="mdui-ripple"><%= __('share.qq') %></a>
            </li>
            <li class="mdui-menu-item">
              <a href="https://telegram.me/share/url?url=<%- page.permalink %>&text=<%= page.title %>" target="_blank" class="mdui-ripple"><%= __('share.telegram') %></a>
            </li>
          </ul>
        <% } %>
      </div>
    </header>
    <div class="mdui-card-content mdui-typo">
      <%- page.content %>
      <blockquote class="mdui-m-t-5">
        <% if (page.license) { %>
          <strong><%- page.license %></strong><br>
        <% } else if (theme.license && page.license !== false) { %>
          <strong><%- theme.license %></strong><br>
        <% } %>
        <strong><%= __('permalink') %></strong><a href="<%- page.permalink %>"><%- page.permalink %></a>
      </blockquote>
      <% if (is_post() && page.donate !== false && theme.donate && theme.donate.length) { %>
        <div class="mdui-text-center">
          <button class="mdui-fab mdui-color-deep-orange mdui-text-color-white mdui-ripple" mdui-dialog="{target: '#donate'}" mdui-tooltip="{content: '<%= __('donate') %>', position: 'top'}"><i class="mdui-icon material-icons">local_cafe</i></button>
        </div>
      <% } %>
    </div>
    <footer class="mdui-card-actions">
      <% if (page.categories && page.categories.length) { %>
        <%- list_categories(page.categories, {show_count: false, style: 'none', separator: '', class: 'mdui-ripple article_categories'}) %>
      <% } %>
      <% if (page.tags && page.tags.length) { %>
        <%- list_tags(page.tags, {show_count: false, style: 'none', separator: '', class: 'mdui-ripple article_tags'}) %>
      <% } %>
    </footer>
    <% if (is_post() && page.donate !== false && theme.donate && theme.donate.length) { %>
      <div class="mdui-dialog" id="donate">
        <div class="mdui-tab mdui-tab-centered" mdui-tab>
          <% for (var i in theme.donate) { %>
            <a href="#donate-<%= i %>" class="mdui-ripple"><%= theme.donate[i].name %></a>
          <% } %>
        </div>
        <% function is_image(str) { var filter = '.jpeg|.gif|.jpg|.png|.bmp|.pic|'; if (str.indexOf('.') > -1) { var pos = str.lastIndexOf('.'); var fix = str.substring(pos, str.length) + '|'; fix = fix.toLowerCase(); if (filter.indexOf(fix) > -1) return true; } return false; } %>
        <% for (var i in theme.donate) { %>
          <div id="donate-<%= i %>" class="mdui-p-a-2 mdui-typo mdui-text-center">
            <% if (is_image(theme.donate[i].link)) { %>
              <img src="<%- theme.donate[i].link %>" style="width: 300px;">
            <% } else { %>
              <a href="<%- theme.donate[i].link %>" target="_blank">>> <%= theme.donate[i].name %></a>
            <% } %>
          </div>
        <% } %>
      </div>
    <% } %>
  </article>
  <%- js([theme.gallery.jquery_js, theme.gallery.fancybox_js]) %>
  <script>$("#main article .mdui-card-content img.fancybox").on("click",function(e){$.fancybox.open({src:$(this).attr("src")});});</script>
<% } %>
<% if (page.prev || page.next) { %>
  <nav id="paginator">
    <% if (page.prev) { %>
      <a rel="prev" class="extend prev" href="<%- url_for(page.prev.path) %>">
        <button aria-label="prev" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-btn-icon mdui-color-theme-accent mdui-ripple"><i class="mdui-icon material-icons">arrow_back</i></button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= __('prev') %>
      </a>
    <% } %>
    <div class="spacer"></div>
    <% if (page.next) { %>
      <a rel="next" class="extend next" href="<%- url_for(page.next.path) %>">
        <%= __('next') %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button aria-label="next" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-btn-icon mdui-color-theme-accent mdui-ripple"><i class="mdui-icon material-icons">arrow_forward</i></button>
      </a>
    <% } %>
  </nav>
<% } %>
<% if (page.comments && theme.comment.use) { %>
  <div id="comment" class="mdui-m-t-5">
    <%- partial('_widget/comment/' + theme.comment.use) %>
  </div>
<% } %>
<% if (is_post() && page.toc && toc.length) { %>
  <div style="position: fixed !important; right: 16px; top: 30%;">
    <button class="mdui-fab mdui-fab-mini mdui-ripple" mdui-menu="{target: '#toc'}"><i class="mdui-icon material-icons">format_list_numbered</i></button>
    <ul class="mdui-menu" id="toc">
      <li class="mdui-menu-item" disabled><%- toc %></li>
    </ul>
  </div>
<% } %>